p {
    margin: 0;
    padding: 0;
}

div.content{
    width:1200px;
    margin-right: auto;
    margin-left: auto;
}

div.top{
    width:100%;
    background: yellowgreen;
    height: 150px;
    position: relative;
}

div.sort {
    width:100%;
    background: #cdc25e;
    position: absolute;
    bottom: 0;
}