p,html,body {
    margin: 0;
    padding: 0;
}

div.content{
    margin-right: auto;
    margin-left: auto;
}

div.top{
    width:100%;
    background: yellowgreen;
    height: 150px;
    position: relative;
}

div.sort {
    width:100%;
    background: #cd887b;
    position: absolute;
    bottom: 0;
}